[Unit]
Description=start celery worker

[Service]
User=root
Group=root
WorkingDirectory=/data/app/one/backend
ExecStartPre=-/bin/mkdir -p /data/logs
ExecStart=/bin/bash -c '/root/.pyenv/versions/envoms/bin/celery -A celery_tasks.celery worker -B -l info -f /data/logs/celery.log'
#非正常dead，自动重启
Restart=on-failure
#3秒后启动
RestartSec=3s
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
